# Ignore environment files
.env

# Ignore Composer files
/vendor/
/composer.lock

# Ignore IDE specific files and folders
.vscode/
.idea/

# Ignore node modules if using Node.js
/node_modules/

# Ignore cache or log files
*.log
*.cache
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore PHPStorm specific files
*.iml
/.phpstorm.meta.php

# Ignore any temp or build-related files
/tmp/
/build/
